body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans' sans-serif;
}
.section-title h2{
font-weight: 700;
text-transform: uppercase;
margin-bottom: 15px;
}
p{
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #6e6e6e;
  margin-bottom: 0px;
}
.price-table{
  background-color: #f6f6f6;
  padding-bottom: 100px;
  padding-top: 90px;
}
.singel-price{
  border: 1px solid #1e90ff;
  padding: 40px 30px;
  border-radius: 10px;
  margin-top: 70px;
  background-color: #FFF;
  user-select: none;
}
.singel-price:hover{
  box-shadow: .2px 2px 12px rgba(0,0,0,.2);
}
.singel-price h5{
  font-size:18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
h5, h2{
  color: #181818;
  margin-top: 0px;
  font-style: normal;
}
.singel-price h2{
  font-size: 58px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.singel-price h2 sup{
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: -14px;
  color: #818284;
}
.singel-price h2 span{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.singel-price ul li{
  font-size: 16px;
  color: #6e6e6e;
  line-height: 50px;
  border-bottom: 1px solid #dddddd;
}
.button{
  padding: 8px 16px;
  font-size: 14px;
  border:1px solid #1e90ff;
  background-color: transparent;
  display: inline-block;
  /*color: #FFF;*/
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  text-decoration: none;

}
.button:hover{
  background-color:  #1e90ff;
  color: #FFF;
  text-decoration: none;
}