*{margin: 0;padding:0;}

.slider-caption .btn {
    border: 1px solid #1e90ff;
    background-color: transparent;
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    z-index: 5;
    margin:0 10px;
    border-radius: 0;
}

.slider-caption .btn-buytheme:before, .slider-caption .btn-contact:before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e90ff;
    z-index: -1;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.slider-caption .btn-buytheme:hover::before {
    width: 100%;
}
.slider-caption .btn-contact:before{
	width: 100%;
	right: 0;
    left: auto;
}
.slider-caption .btn-contact:hover::before {
    width: 0%;
    
}
.title-container {
    display: table-cell;
    vertical-align: middle;
}

.t-lft {
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.t-lft h2{
	font-size: 48px;
    text-transform: uppercase;
}
.t-lft h4{
	color: rgb(29, 145, 255);
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 50px;
}
.t-lft p{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 20px;
}
.slider-content {
    display: table;
    width: 100%;
    height: 100%;
}

.slider-caption {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5%;
    left: 0;
    z-index: 3;
}

.carousel-item:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.7;
}
body{
	width: 100%;
	height: 100%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: rgb(13, 13, 13)!important;
}

a.nav-link {
    padding-bottom: 5px;
    color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
}

.menu li.active a, li:hover a.nav-link {
    color: #1f8fff !important;
}

.menu a.nav-link:before {
    position: absolute;
    content: "";
    background: #1f8fff;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.menu li:hover a.nav-link:before, .menu li.active a.nav-link:before {
    width: 100%;
}

li.nav-item {
    margin-left: 25px;
}